@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
.defaultStyle, .negative{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width:25%;
    height:100%;
    
    background-color: whitesmoke;
    border-radius:5px;
    box-shadow: 2px 2px 10px -5px black ;
    
    font-family:'Shippori Antique B1', sans-serif;
    font-size: larger;
    transition:background-color 1s;

}
.defaultStyle:nth-child(2) svg{
    transform: rotate(180deg);
    stroke:rgb(199, 59, 59);
    box-shadow:-2px -2px 10px -5px black;
}
.defaultStyle:nth-child(3){
    background-color: rgb(132, 241, 132);
}
.negative{
    background-color: rgb(252, 161, 161);
}
.negative svg{
    transform:rotate(180deg);
    stroke:rgb(199, 59, 59);
    box-shadow: -2px -2px 10px -5px black ;

}
svg{
    width:35px;
    height:35px;
    transition: transform 1s;
    stroke:rgb(36, 153, 36);
    border-radius:20px;
    box-shadow:2px 2px 10px -5px black;
    
}
