@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,900&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
main{
    min-width:100vw;
    height:100vh;

    display:flex;
    flex-direction:column;
    align-items: center;
    gap:5px;

    background-color:#240046;
}
.headContainer{
    width:80vw;
    height:20vh;
    background:#10002b;
    border-radius:10px;
    position: relative;
    display:flex;
    justify-content: space-around;
}
.transactionsContainer{
    width: 80vw;
    height:78vh;
    display:flex;
    flex-direction:column;
    background:#10002b ;
    border-radius:10px;
    padding-top:100px;
}